
<h1>About Us</h1>
<p> I am working my way through this program despite the fact that it is mostly taught on an apple computer.</p>
<p>Click <a href="#">here</a> for more information</p>
<p>This is my second link example <%= link_to "click here", "#" %>. </p>